<!DOCTYPE html>
<html>
  <head>
    <TITLE>About picturethis.com</TITLE>
  </head>
  <body>
    <h1>picturethis.com About us</h1>
    <%= link_to image_tag('udemy-7.jpg'), root_path %>
    <p>I'm an art designer and photographer as well as tech designer and I have the ability to put all of my ideas together in a smart aesthetic way to best optimize someone's electronic footprint!</p>
    <p>Click the image above to return to the Homepage</p>
    
        <footer>
            <p>Posted by: Denny Heath:  March 2018</p>
            <p>Contact information: <a href="mailto:dheath@example.com">dheath@example.com</a>.</p>
        </footer>
  </body>
</html>