<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE>My Home Page</TITLE>
    </HEAD>
    <body>
        <h1>picturethis.com Homepage</h1>
          <%= link_to image_tag('udemy-1.jpg'), about_path %><br/>
          <%=link_to 'Click here for more information about us:', about_path %><br/>
          <%=link_to 'Den\'s Gallery:', about_path %><%=link_to 'Den\'s Database:', about_path %>
          
        <footer>
            <p>Posted by: Denny Heath:  March 2018</p>
            <p>Contact information: <a href="mailto:dheath@example.com">dheath@example.com</a>.</p>
        </footer>
    </body> 
</html>